* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --transition: 1.5s cubic-bezier(0.05, 0.5, 0, 1);
}

@font-face {
  font-family: kamerik-3d;
  src: url(../fonts/kamerik205-heavy.woff2);
  font-weight: 900;
}

@font-face {
  font-family: merriweather-italic-3d;
  src: url(../fonts/merriweather-regular-italic.woff2);
}

body {
  background-color: #000;
  color: #fff;
  font-family: kamerik-3d;
}

.layers {
  perspective: 1000px;
  overflow: hidden;
}

.layers__container {
  height: 100vh;
  min-height: 500px;
  transform-style: preserve-3d;
  transform: rotateX(var(--move-y)) rotateY(var(--move-x));
  will-change: transform;
  transition: transform var(--transition);
}

.layers__item {
  position: absolute;
  inset: -9.5vw;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.layer-1 {
  transform: translateZ(-55px) scale(1.04);
}

.layer-2 {
  transform: translateZ(80px) scale(0.88);
}

.layer-3 {
  transform: translateZ(180px) scale(0.8);
}

.layer-4 {
  transform: translateZ(190px) scale(0.9);
}

.layer-5 {
  transform: translateZ(300px) scale(0.9);
  animation: float 3s ease-in-out infinite;
}

.layer-6 {
  transform: translateZ(380px);
}

.hero-content {
  font-size: calc(var(--index) * 2.9);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: calc(var(--index) * -0.15);
  line-height: 1.35em;
  margin-top: calc(var(--index) * 5.5);
}

.hero-content span {
  display: block;
}

.hero-content__p {
  text-transform: none;
  font-family: merriweather-italic-3d;
  letter-spacing: normal;
  font-size: calc(var(--index) * 0.73);
  line-height: 3;
}

.button-start {
  font-family: Arial;
  font-weight: 600;
  text-transform: uppercase;
  font-size: calc(var(--index) * 0.71);
  letter-spacing: -0.02vw;
  padding: calc(var(--index) * 0.7) calc(var(--index) * 1.25);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(110px);
  color: #fff;
  border-radius: 10em;
  border: rgba(255, 255, 255, 0.582) 3px solid;
  outline: none;
  cursor: pointer;
  margin-top: calc(var(--index) * 2.5);
  opacity: 1;
  transition: opacity 0.5s ease;
  position: relative;
  z-index: 2;
}

.button-start:hover {
	color: #ffffff;
	border: rgb(255, 255, 255) 3px solid;
	transition: border-color 0.5s ease, opacity 0.5s ease;
	animation: pulse 0.5s 1;
	opacity: 1;
}

.button-start:hover {
	opacity: 1;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}

.layer-4,
.layer-5,
.layer-6 {
  pointer-events: none;
}

@keyframes float {
  0%, 100% {
    transform: translateZ(300px);
  }
  50% {
    transform: translateZ(320px);
  }
}

.layers__item.layer-1 {
  background-image: url(img/layer-1.jpg);
}

.layers__item.layer-2 {
  background-image: url(img/layer-2.png);
}

.layers__item.layer-5 {
  background-image: url(img/layer-5.png);
}

.layers__item.layer-6 {
  background-image: url(img/layer-6.png);
}


/* NAVBAR */
.navbar {
  font-size: 1.1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  z-index: 2;
  margin: 15px 35%;
  padding: 15px 60px;
  transition: transform 0.3s ease;
  border-radius: 30px;
  background: rgba(198, 255, 205, 0.4);
  border-bottom: 2px solid rgba(113, 255, 120, 0.2);
  backdrop-filter: blur(2px);
}

.navbar:hover {
  transform: scale(1.1);
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 0 25px #023307;
  background-color: transparent;
  transition: transform 0.3s ease;
}

.navbar a:hover {
  color: #77ff84;
  transform: scale(1.5);
  text-shadow: 0 0 15px #03470a;
}